
  .insta-icon {
    position: relative;
    border-radius: 20%;
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf)
  }
  .insta-icon:after,
  .insta-icon:before {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
    content: ''
  }
  .insta-icon:before {
    border-radius: 20%
  }
  .insta-icon:after {
    width: 11px;
    height: 11px;
    border-radius: 50%
  }

  .header{
    border-bottom-left-radius: 60% 15%;
    border-bottom-right-radius: 60% 15%;
  }
